html,
body {
  height: 100%;
}

#app {
  font-size: .3rem;
  flex: 0;
}

.demo {
  margin: 0 auto;
  line-height: 1.5;
}

.demo .title {
  font-size: .5rem;
  text-transform: capitalize;
}

.demo .descr {
  font-size: .3rem;
}