*,
*::before,
*::after {
  box-sizing: border-box;
  /* 防止点击闪烁 */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 缩放网页，字体大小不变 */

  -webkit-text-size-ajust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
}

/* HTML5 display-role reset for order browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  background-color: #fff;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/* 去除虚线 */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  /* iOS 禁止页面在新窗口打开 */

  -webkit-touch-callout: none;
}

/* 重置圆角和内阴影 */
input,
textarea {
  border: 1px solid;
  border-radius: 0;

  -webkit-appearance: none;
}

/* 重置文字初始 10px */
html {
  font-size: 62.5%;
}

/* 图片响应式缩放 */
img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  font-family:
    'Helvetica Neue', Helvetica,
    /* 苹方简体，冬青黑 */
    'PingFang SC', 'Hiragion Sans GB',
    'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
}